<section id="question-section">
  <div class='question-container'>
    <% @questions.each do |local_question| %>

      <%= erb :'questions/_question', layout: false, locals: {question: local_question} %>

    <% end %>
  </div>

  <% if logged_in? %>
    <form id="questions" method="post" action="/questions">
      <input type="text" name="title" placeholder="title">
      <input type="submit" value="submit new question">
    </form>

    <textarea rows="4" cols="87"  name="body" form="questions" placeholder="textarea"></textarea>
  <% end %>
</section>
