<form action="/sessions/<%= session[:user_id] %>" method="post" class="form-link">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="Logout" class="button-link" />
</form>
