<% if logged_in? %>
  <small style="text-align: right !important;">
    <a href="#" class="comment">Add Comment</a>
  </small>

  <div class="comment-form">
    <form action="/" method="post">
      <input type="text" name="body" placeholder="Enter your comment"/>
      <input type="submit" value="Submit Comment" />
    </form>
  </div>
<% end %>
