<header>
  <div id="header">
    <h1>Team Aweome: DBC Overflow</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li> |
        <li><a href="/users/new">Register</a></li> |
        <li><a href="/sessions/new">Login</a></li> |
        <li><a href="/sessions/:id">Logout</a></li>
      </ul>
    </nav>
  </div>
</header>
