<header>
  <div id="header">
    <h1>Team Awesome: DBC Overflow</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li> |
        <% if logged_in? %>
          <li><%= erb :"/sessions/_logout", layout:false %></li>
        <% else %>
          <li><a href="/users/new">Register</a></li> |
          <li><a href="/sessions/new">Login</a></li> |
        <% end %>
      </ul>
    </nav>
  </div>
</header>
